{% load static %}
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AFC Rugby Giżycko</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="{% static 'assets/img/navbar-logo.svg' %}" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#info">Informacje</a></li>
                        <li class="nav-item"><a class="nav-link" href="#media">Media</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">O klubie</a></li>
                        <li class="nav-item"><a class="nav-link" href="#archive">Archiwum</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Witaj w archiwum AFC Rugby Giżycko (2008-2010)</div>
                <div class="masthead-heading text-uppercase">Miłego zwiedzania!</div>
                <div class="masthead-subheading">Pamiętaj! Rugby to nie futbol amerykański.</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">Zobacz więcej</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="info">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Informacje</h2>
                    <h3 class="section-subheading text-muted">Poniżej znajdują się informacje dotyczące drużyny.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Nabór</h4>
                        <p class="text-muted">Nabór do drużyny trwał cały rok, bez znaczenia był wiek, doświadczenie oraz warunki fizyczne - miejsce na boisku było dla każdego z chęcią do gry i zaangażowaniem.
                            <br>
                            W okresie letnim (gdyż zimą trenowaliśmy na hali wojskowej dzięki uprzejmości Jednostki Wojskowej 4352) można było przyjść na trening i popatrzeć, nie biorąc w nim udziału.
                            <br>
                            Trenowanie było bezpłatne.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-football fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Treningi</h4>
                        <p class="text-muted">Trenowaliśmy 2-3 razy w tygodniu w różnych miejscach: przez większą część działalności na stadionie MOSiR (płyta boczna), choć widziano nas także na miejscowych "Orlikach", boiskach szkolnych, a także w miejscowości Bystry.
                            <br>
                            Graliśmy w odmianę siedmioosobową rugby - ze względu na zredukowaną ilość zawodników w drużynie, na boisku jest więcej przestrzeni oraz zmniejsza się czas gry w kontakcie, liczy się przede wszystkim spryt i szybkość.
                            </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Zawodnicy</h4>
                        <p class="text-muted">W najbardziej sowitych czasach zarejestrowanych było 18 aktywnych zawodników, w wieku 15-22 lata, o wadze 50-100 kg i wzroście 160-185 cm.
                            <br><br>
                            <strong>Panowie, podopieczni, koledzy, również przyjaciele - dziękuję za te dwa lata zaangażowania z Waszej strony, wspólnej nauki, łapania dobrych chwil, zarówno rugbowych, jak i pozasportowych oraz przede wszystkim świetnej zabawy!</strong></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Media Grid-->
        <section class="page-section bg-light" id="media">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Media</h2>
                    <h3 class="section-subheading text-muted">Grafiki związane z klubem.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Media item 1-->
                        <div class="portfolio-item">
                            <img class="img-fluid" src="{% static 'assets/img/media/1_poster.png' %}" alt="..." />
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Pierwszy plakat</div>
                                <div class="portfolio-caption-subheading text-muted">Autor: Jakub Turek</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Media item 2-->
                        <div class="portfolio-item">
                            <img class="img-fluid" src="{% static 'assets/img/media/2_poster.jpg' %}" alt="..." />
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Drugi plakat</div>
                                <div class="portfolio-caption-subheading text-muted">Autor: Jakub Turek</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Media item 3-->
                        <div class="portfolio-item">
                                 <iframe width="400" height="200" src="https://www.youtube.com/embed/TBdK3AkhQKE?si=OQn3UF6b4k8XRycV" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Film</div>
                                <div class="portfolio-caption-subheading text-muted">Autor: Michał Walerowicz</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">O klubie</h2>
                    <h3 class="section-subheading text-muted">Strona w 2019 r. została usunięta z <a href="https://gizycko.pl/">giżyckiej</a> domeny, stąd z sentymentu przeniosłem ją na darmowy hosting, później na
                        <a href="https://draprar.github.io/afcrugby/">GitHub Pages</a> a następnie w ramach nauki opracowałem nową wersję z wykorzystaniem Django i umieściłem ją na serwerach
                        <a href="https://draprar.pythonanywhere.com/">PythonAnywhere</a>. W razie zainteresowania śledzeniem przeszłości klubu, zapraszam do skorzystania również z
                        <a href="https://web.archive.org/web/20161201000000*/rugby.gizycko.pl" target="_blank">Wayback Machine</a> :)</h3>
                </div>
                <ul class="timeline">
                    <!-- for post in posts => subheading: post_title + timeline-body: post_content && if post_id%2 == 1: odd else: even -->
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logo.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Początki</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Pomysł na stworzenie w Giżycku drużyny rugby "7" narodził się już parę miesięcy temu. Kilka dni przed 6 czerwca, gdy plakaty z informacją o naborze do sekcji pojawiły się w mieście i szkołach klamka o powołaniu jej do życia zapadła. Plany zostały wdrążone w życie, bowiem właśnie 6 czerwca odbyło się w Giżyckim Centrum Kultury zebranie organizacyjne. Pomysłodawcą i jednocześnie pierwszym trenerem zespołu jest Michał Walerowicz - uczeń 1 LO w Giżycku. Podjął się dużego wyzwania, jakim jest prowadzenie drużyny z posiadaniem jedynie wiedzy teoretycznej.
                            </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logo.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Pierwsze zebranie</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Na spotkaniu organizacyjnym zjawiło się 14 osób. Uzgodniony został termin pierwszego treningu, który odbył się 10 czerwca na stadionie MOSiR. Na pierwszym "sprawdzianie kondycyjnym" (po którym kilka osób niestety odpadło) zostały ustalone terminy przyszłych treningów oraz kilka spraw formalnych.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logo.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Formalizacja sekcji</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Nowa sekcja działała wówczas w stowarzyszeniu AFC (Active Free Crew). Po podjęciu uchwały o stworzeniu sekcji w stowarzyszeniu przestaliśmy być grupką znajomych, która rekreacyjnie bawi się w rugby. W niedługim czasie nastąpiło uruchomienie strony internetowej drużyny, co umożliwiło również reklamę. W między czasie część zawodników się wykruszyła, pojawili się również nowi - zaczęła się jednak formować stała grupa chłopaków uczęszczających regularnie na treningi.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logo.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Współpraca z WMPD PUDiZ Olsztyn</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Dzięki zaangażowaniu Justyny Nierwińskiej został nawiązany kontakt z pierwszoligową drużyną WMPD PUDiZ Olsztyn. Na stronie Olsztyńskiego klubu ukazała się wiadomość o zauważeniu naszej działalności i chęci pomocy ze strony olsztyńskiego klubu dla naszej drużyny. Niedługo potem zaaranżowanie zostało spotkanie z trenerem Olsztyńskiego klubu, panem Leszkiem Borsem. Odbyło się 26 czerwca na stadionie MOSiRu. Zobaczyliśmy, jak wygląda trening z prawdziwego zdarzenia, nabyliśmy nowych doświadczeń dzięki pracy z doświadczonym trenerem. Po zakończonym spotkaniu dostaliśmy 5 piłek od pana Leszka, a M. Walerowicz jako trener Giżyckich otrzymał przydatne w szkoleniach materiały pomocnicze.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logo.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Rozgłos</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Informacje o spotkaniu opisane zostały w Gazecie Giżyckiej oraz Gazecie Olsztyńskiej. Artykuł z GO ukazał się również na stronie klubu z Olsztyna.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logo.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Współpracy ciąg dalszy</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">5 lipca wybraliśmy się do Olsztyna, skąd trenerzy pierwszoligowca- P. Leszek Bors i Krzysztof Olsiński przetransportowali nas do Gągławek, gdzie rozegraliśmy nasz pierwszy mecz sparingowy z okazji 650-lecia tejże miejscowości. To było pierwsze, lecz nie ostatnie takie spotkanie. Niedługo rozegramy następne-tym razem w Giżycku. Koledzy z Olsztyna okazali się bardzo życzliwi i udzielali pomocnych wskazówek podczas gry. Żaden trening nie jest w stanie dać tyle, co gra.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logo.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Klub z prawdziwego zdarzenia</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Obecnie, dzięki uprzejmości P. Andrzeja Paszkiewicza sekcja należy do Młodzieżowego Towarzystwa Sportowego. Do PZR zostało wysłane pismo z informacją o powstaniu drużyny. Teraz pozostało nam doskonalić swoje umiejętności i zgłębiać tajniki gry w rugby.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logo.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Czas na logo</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Drużyna nareszcie posiada swoje własne logo, które będzie pojawiało się na naszych strojach i wszelkich dogodnych dla tego typu grafiki obiektach.
                            </p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logo.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Poważny trening</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Drugi trening, który sprawił, że nasz zapał do gry urósł jeszcze bardziej odbył się 13-go sierpnia. Kolejnym trenerem, który zgodził się poświęcić nam czas był selekcjoner kadry juniorów p. Maciej Misiak, który przebywał w Giżycku wraz ze swoją klubową drużyną MKS Orkan Sochaczew na obozie sportowym. Wraz, z p. Maciejem pojawił się. p. Jakub Seklecki - zawodnik Sochaczewa. Wszyscy do treningu podeszli bardzo poważnie. A wrażenia po? Uśmiech na twarzach mówił wszystko. Serdecznie dziękujemy Panom za ofiarowaną pomoc i przekazanie nam cząstki posiadanej wiedzy i umiejętności. Spożytkujemy ją jak najlepiej.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                                <h4>
                                Klub
                                <br />
                                został
                                <br />
                                rozwiązany
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Archive-->
        <section class="page-section bg-light" id="archive">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">archiwum</h2>
                    <h3 class="section-subheading text-muted">Poniżej znajduje się archiwum newsów.</h3>
                </div>

                {% for post in posts reversed %}
                <div class="accordion" id="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ post.id }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ post.id }}" aria-expanded="true" aria-controls="collapse{{ post.id }}">
                                <strong>{{ post.title }} ({{ post.published_date }})</strong>
                            </button>
                        </h2>
                        <div id="collapse{{ post.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ post.id }}" data-bs-parent="#accordion">
                            <div class="accordion-body">{{ post.text|linebreaksbr }}</div>
                        </div>
                    </div>
                    {% endfor %}
                  </div>

            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="align-items-center">
                        <img src="{% static 'assets/img/rugby.jpg' %}" class="img-fluid">
                        <br><br>Copyright &copy; <a href="mailto:waleron@gmail.com">Michał Walerowicz</a> 2023
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>

